
/*��Ʒ����*/
.category{
    margin:20px 0;
    background: #36a5dd;
    color: #fff;
    line-height: 42px;
    font-size: 16px;
}
.category b{
    font-size: 24px;
}
.category span{
    float: right;
    margin-right: 10px;
}
/*��ƷͼƬ*/
.detailPic{
    width: 400px;
    float: left;
    position: relative;
}

.detailPic h3{
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    margin: 20px auto 10px;
    position: relative;
}
.detailPic h3 img{
    width: 350px;
    vertical-align: middle;
    height:350px;
}
#mask{
    position: absolute;
    width: 175px;
    height: 175px;
    background: #ffa;
    opacity: 0.5;
    top: 0;
    left: 0;
    display:none;
}

#superMask{
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: move;
}
#largeDiv{
    position: absolute;
    width: 350px;
    height: 350px;
    background: #fff;
    border: 1px solid #ddd;
    top: 20px;
    left: 380px;
    z-index: 999;
    display: none;
}
.detailPic ul{
    margin: 0 20px 50px 25px;
}
#largeDiv ui li{
	width:50px;
	height:50px;
}
.detailPic ul li{
    display: inline-block;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.detailPic ul li:hover{
    border: 1px solid #ff0000;
}
.detailDesc{
    width: 800px;
    float: left;
    margin: 20px 0;
}
.detailDesc .title{
    font-size: 24px;
}
.detailDesc .title .author{
    font-size: 14px;
}
#icon_list img{
	width:50px;
	height:50px;
}

.detailDesc p span{
    color: #FF0700;
}
.detailDesc .owner{
    font-size: 16px;
    margin: 20px 0;
}
.detailDesc .price{
    background: #f4f8fb;
    overflow: hidden;
    width: 790px;
    height: 50px;
    line-height: 50px;
}
.detailDesc .price p label{
    font-size: 18px;
    font-weight: 600;
}
.detailDesc .price p span{
    font-size: 20px;
    font-weight: 600;
}
.detailDesc .price p a{
    float: right;
    margin-right: 10px;
}
.detailDesc .price p a i{
    display: inline-block;
    position: relative;
    top:5px;
    width: 30px;
    height:25px;
    background:url("../pic/small.png") no-repeat -175px -5px;
}
.detailDesc .desc{
    margin: 20px 0;
    line-height: 24px;
}
.send,.serve{
    margin-bottom: 10px;
}
.detailDesc ul{
    overflow: hidden;
}
.detailDesc ul li{
    float: left;
    border: 1px solid #aaa;
    width: 100px;
    height: 50px;
    line-height: 25px;
    color: #1a1a1a;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
}
.detailDesc ul li i{
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    margin: 0 auto;
    top:3px;
    background: url("../pic/small.png") no-repeat -73px -5px;
}
.detailDesc ul li:first-child{
    background: #3a83c6;
    color: #fff;
    width: 224px;
    line-height: 50px;
    text-align: left;
}
.detailDesc ul li:first-child i{
    float: left;
    width: 35px;
    height: 30px;
    margin: 5px 20px 0 30px;
    background: url("../pic/small.png") no-repeat -135px -5px;
}
.detailDesc ul li i.chat{
    background: url("../pic/small.png") no-repeat -105px -6px;
}
.detailDesc ul li:last-child{
    background: #ff0000;
    color: #fff;
    line-height: 50px;
    border: 1px solid #ff0000;

}
.prompt{
    margin-top: 30px;
    font-size: 12px;
}
